<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <!--移动端预览-->
    <meta name="viewport" content="device-width, initial-scale=1.0">
    <title th:replace="${title}">博客详情</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css" th:href="@{/lib/editormd/css/editormd.min.css}">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
    <!--图标部署-->
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="bookmark" href="/favicon.ico" type="image/x-icon"/>
</head>

<body>
<!--导航-->
<nav th:fragment="menu(n)" class="ui inverted attached segment segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item" >后台管理</h2>
            <a href="#" th:href="@{/admin/blogs}" class="m-item item m-mobile-hide" th:classappend="${n==1}? 'active'"><i class="small home icon"></i>博客管理</a>
            <a href="#" th:href="@{/admin/types}" class="m-item item  m-mobile-hide" th:classappend="${n==2}? 'active'"><i class="small idea icon"></i>分类管理</a>
            <a href="#" th:href="@{/admin/tags}" class="m-item item m-mobile-hide" th:classappend="${n==3}? 'active'" ><i class="small tags icon"></i>标签管理</a>
            <a href="#" th:href="@{/admin/info}" class="m-item item m-mobile-hide" th:classappend="${n==4}? 'active'" ><i class="small idea icon"></i>个人信息</a>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown item">
                    <div class="text ">
                        <img class="ui avatar image" src="https://picsum.photos/id/1011/100/100" th:src="${session.user.avatar}">
                        <span th:text="${session.user.nickname}"></span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#"th:href="@{/admin/logout}"  class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--menu toggle无任何显示意思-->
    <a href="#" class="ui icon menu toggle black button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>


<!--底部footer-->
<footer th:fragment="footer" class="ui inverted vertical segment m-padded-tb-massive ">
    <div class="ui center aligned container ">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <h4 class="ui inverted header m-opacity-min">站长微信</h4>
                    <div class="item">
                        <img src="../static/images/WeChat.jpg" th:src="@{/images/WeChat.jpg}" CLASS="ui rounded image" alt="" style="width:110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-opacity-min">最新动态</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">我在等你2019年</a>
                    <a href="#" class="item">idea的操作笔记</a>
                    <a href="#" class="item">SpringBoot学习计划</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-opacity-min">联系作者</h4>
                <div class="ui inverted link list">
                    <a href="https://space.bilibili.com/393270022" class="item">b站</a>
                    <a href="#" class="item" th:text="#{index.qq}">QQ:1515177029</a>
                    <a href="#" class="item" th:text="#{index.email}">邮箱:yerenping@aliyun.com</a>
                </div>

            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-opacity-min">关于作者</h4>
                <p class="m-text-thin m-text-spaced m-opacity-min m-text-lined" th:text="#{index.about}">作者是一名springboot爱好者,是一名正在努力奋斗的学生,主要学习JavaEE开发,Web前端等技术.作者是个喜欢旅行的孩子,目标是游遍全世界！</p>
                <!--前台展示跳转-->
                <h4 class="ui inverted header m-opacity-min"><a class="item m-opacity-tiny" href="#" th:href="@{/}" style="color: #6577b9">前台展示</a></h4>
            </div>
        </div>
        <!--分割线-->
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny" th:text="#{index.copyright}">Copy © 2019 - 2020 作者:小小叶儿 此站仅供个人所有 如有疑问联系作者</p>
    </div>
</footer>

<!--所有需要引入的JS-->
<th:block th:fragment="script">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <script src="../../static/lib/editormd/editormd.min.js" th:src="@{/lib/editormd/editormd.min.js}"></script>
</th:block>
</body>
</html>