<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <!--移动端预览-->
    <meta name="viewport" content="device-width, initial-scale=1.0">

    <title>后台管理-标签管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <!--引入自定义CSS-->
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>
<!--导航-->
<nav th:replace="admin/_fragments :: menu(3)" class="ui inverted attached segment segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">后台管理</h2>
            <a href="#" class="m-item  item m-mobile-hide"><i class="small home icon"></i>博客管理</a>
            <a href="#" class="m-item item  m-mobile-hide"><i class="small idea icon"></i>分类管理</a>
            <a href="#" class="m-item active item m-mobile-hide" ><i class="small tags icon"></i>标签管理</a>
            <a href="#" class="m-item item m-mobile-hide" ><i class="small idea icon"></i>个人信息</a>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown item">
                    <div class="text ">
                        <img class="ui avatar image" src="https://picsum.photos/id/1011/100/100">
                        叶仁平
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--menu toggle无任何显示意思-->
    <a href="" class="ui icon menu toggle black button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!--二级导航-->
<div class="ui attached pointing menu">
    <div class="ui container">

        <div class="right menu">
            <a href="#"  th:href="@{/admin/tags/input}" class="item">新增</a>
            <a href="" th:href="@{/admin/tags}" class="active teal basic item">列表</a>
        </div>
    </div>
</div>
<!--中间内容-->
<div class="m-container-small m-padded-tb-big">
    <!--适应移动端手机-->
    <div class="ui container">
        <!--操作提示信息-->
        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示：</div>
            <p th:text="${message}">恭喜，操作成功！</p>
        </div>
        <!--标签列表-->
        <table class="ui selectable compact teal table">
            <thead>
            <tr>
                <th >标签编号</th>
                <th>名称</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tag,iterStat : ${page.content}">
                <td th:text="${iterStat.count}">1</td>
                <td data-label="name" th:text="${tag.name}">学习</td>
                <td data-label="right make">
                    <a href="#" th:href="@{/admin/tags/{id}/input(id=${tag.id})}" class="ui m-margin-right tiny teal button">修改</a>
                    <a href="#" th:href="@{/admin/tags/{id}/delete(id=${tag.id})}" class="ui m-margin-right tiny red button">删除</a>

                </td>
            </tr>
            </tbody>
            <tfoot>
            <!--分页组件-->
            <th colspan="6">
                <div th:if="${page.totalPages}>1" class="ui mini left floated pagination menu">
                    <!--当有上一页的时候显示，无则不显示-->
                    <a class="item" th:href="@{/admin/tags(page=${page.number}-1)}" th:unless="${page.first}">上一页</a>
                    <!--当有下一页的时候显示，无则不显示-->
                    <a class="item" th:href="@{/admin/tags(page=${page.number}+1)}" th:unless="${page.last}">下一页</a>
                </div>
                <a href="#" th:href="@{/admin/tags/input}" class="ui tiny orange right floated button">新增</a>
            </th>
            </tfoot>
        </table>
    </div>
</div>
<br>
<br>
<!--底部-->
<footer  th:replace="admin/_fragments :: footer"  class="ui inverted vertical segment m-padded-tb-massive ">
    <div class="ui center aligned container ">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <h4 class="ui inverted header m-opacity-min">站长微信</h4>
                    <div class="item">
                        <img src="../../static/images/WeChat.jpg" CLASS="ui rounded image" alt="" style="width:110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-opacity-min">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">2019一年收获总结</a>
                    <a href="#" class="item">idea的操作笔记</a>
                    <a href="#" class="item">SpringBoot学习计划</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-opacity-min">联系作者</h4>
                <div class="ui inverted link list">
                    <a href="https://space.bilibili.com/393270022" class="item">b站</a>
                    <a href="#" class="item">QQ:1515177029</a>
                    <a href="#" class="item">邮箱:yerenping@aliyun.com</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-opacity-min">关于作者</h4>
                <p class="m-text-thin m-text-spaced m-opacity-min m-text-lined">作者是一名springboot爱好者,是一名正在努力奋斗的学生,主要学习JavaEE开发,Web前端等技术.作者是个喜欢旅行的孩子,目标是游遍全世界！</p>
            </div>
        </div>
        <!--分割线-->
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copy © 2019 - 2020 作者:小小叶儿 此站仅供个人所有 如有疑问联系作者</p>
    </div>
</footer>
<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
<!--引入jQuery-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->


<!--声明行内js代码域-->
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on:'hover'
    });

    //消息提示关闭初始化
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });

</script>
</body>
</html>