*.jar
*.war
*~
*.class
*.lock
*.DS_Store
*.swp
*.out
target/
*.iml
*.ipr
*.iws
.settings/
.classpath
.project
.metadata/
.idea/
.mine/
logs/
dubbo.properties
dependency-reduced-pom.xml
*.rdb
*.log
*.gz
*apidocs/
*.versionsBackup
*.perm
flyway.properties
_book/
site/
application.yml
tmp/file/