body{
    /*background: url("../images/leaves.png");*/
    background: url("../images/bg.png");
    /*background: url("../images/green_dust_scratch_@2X.png");*/
    /*background: url("../images/dust_scratches.png");*/
    /*background: url("../images/gravel.png");*/
}



/**********内边距5个级别*********/
.m-padding-lr-responsive{
    padding-left: 4em !important;
    padding-right: 4em !important;
}

.m-padded-mini{
    padding:0.2em !important;
}
.m-padded-tiny{
    padding:0.3em !important;
}
.m-padded{
    padding:1em !important;
}
.m-padded-tb-mini{
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}
.m-padded-tb-tiny{
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
}
.m-padded-tb-small{
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}
.m-padded-tb{
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
.m-padded-tb-large{
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}
.m-padded-tb-big{
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}
.m-padded-tb-huge{
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}
.m-padded-tb-massive{
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}

/**********外边距5个级别*********/
.m-margin-tb-tiny{
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}

.m-margin-top-small{
    margin-top: 0.5em !important;
}
.m-margin-top{
    maring-top: 1em !important;
}
.m-margin-right{
    margin-right: 1em !important;
}
.m-margin-left{
    margin-left: 1em !important;
}
.m-margin-left-big{
    margin-left: 3em !important;
}
.m-margin-top-large{
    margin-top: 2em !important;
}
.m-margin{
    margin: 1em 1em !important;
}
.m-margin-bottom-mini{
    margin-bottom: 0.2em !important;
}
.m-margin-bottom-small{
    margin-bottom: 0.5em !important;
}
/**********Test**********/

/*字体粗细*/
.m-text-thin{
    font-weight: 300 !important;
}
/*字间距*/
.m-text-spaced{
    letter-spacing: 1px !important;
}
/*行间距*/
.m-text-lined{
    line-height: 1.8 !important;
}
/*字体样式组合*/
.m-text{
    font-weight: 300 !important;
    letter-spacing: 1px !important;
    line-height: 1.8 !important;
}
/*设置字体颜色*/
.m-black{
    color: #333 !important;
}
.m-teal{
    color: #00B5AD !important;
}
/*透明度*/
.m-opacity-min{
    opacity: 0.8 !important;
}
/*透明度*/
.m-opacity-tiny{
    opacity: 0.6 !important;
}
/******* display*******/
.m-inline-blok{
    display: inline-block !important;
}
/********position****/
.m-right-top{
    position: absolute;
    top: 0;
    right: 0;
}
.m-fixed{
    /*绝对定位*/
    position: fixed !important;
    z-index: 10 !important;
}
.m-right-button{
    bottom: 0 !important;
    right: 0 !important;
}
.m-container{
    max-width: 72em !important;
    margin: auto !important;
}

.m-container-small{
    max-width: 60em !important;
    margin: auto !important;
}
/***mobile***/

.m-mobile-show{
    display: none !important;
}

.m-mobile-wide{

}
/***shadow****/
.m-shadow-small{
    /*适配浏览器*/
    -webkit-box-shadow:0 4px 8px rgba(0,0,0,0.2)!important;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2)!important;

}
/*手机端*/
@media screen and (max-width:768px){
    .m-mobile-hide{
        display: none !important;
    }

    .m-mobile-show{
        display: block !important;
    }

    .m-padding-lr-responsive{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .m-mobile-clear{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .m-mobile-wide{
        width: 100%;
    }


}
